<h1>Plants</h1>
<p>New plant</p>


<div>
  <input required [(ngModel)]="newPlant.name" placeholder="Common name" class="input">
  <!-- <div *ngIf="newPlant.name.touched && !newPlant.name.valid">Plant name is required</div> -->
  <input [(ngModel)]="newPlant.latinName" placeholder="Latin name" class="input">

  <div class="select">
    <select name="type" [(ngModel)]="newPlant.type">
      <option value="" disabled selected hidden>Type</option>
      <option *ngFor="let type of types" [value]="type.value">
        {{type.display}}
      </option>
    </select>
  </div>
</div>

<div class="select is-multiple">
  <label>Light</label>
  <select multiple name="lights" [(ngModel)]="newPlant.light">
    <option *ngFor="let light of lights" [value]="light.value">
      {{light.display}}
    </option>
  </select>
</div>

<div>
  <button class="button is-success" (click)="createPlant()" [disabled]="newPlant.name?.length < 2 || newPlant.name?.length > 200">
    Add Plant
  </button>
</div>

<hr>
<div *ngFor="let plant of plants | async">
  <plant-detail [plant]="plant"></plant-detail>
</div>