<h1>Welcome to Green Lovers!</h1>

<p>The place for regrowing your life.</p>

<h2>Have Questions?</h2>

<p>
  <i class="fab fa-facebook fa-lg" style="color:#95CA3E;"></i> Join us on facebook <a target="blank" href="https://www.facebook.com/pg/GreenLovers-1784403611865014/">
  here
</a>
</p>

<h2>Free Open Source Screencasts</h2>

<p>
  <i class="fab fa-youtube fa-lg" style="color:#95CA3E;"></i>
  Subscribe to the <a href="https://www.youtube.com/watch?v=aJoo79OwZEI">GreenLovers YouTube Channel</a> for weekly lessons.
</p>
