<div class="columns">
  <div class="column">
    <img src="assets/images/plant.jpg" alt="Placeholder image">
  </div>
  <div class="column">
    <h3>{{plant.name}}</h3>
    <h5>{{plant.latinName}}</h5>
    <hr>
    <span class="button is-small is-info" (click)='addHeartToPlant(plant.hearts)'>
      <i class="fa fa-heart"></i>
      &nbsp;
      <span>{{ plant.hearts || 0 }}</span>
    </span>
    <span class="button is-small is-danger" (click)='deletePlant(plant?.id)'>Delete</span>
  </div>
  <div class="column">
    <span>Layer: {{ plant.layer || 0 }}</span>
  </div>
  <div class="column">
    <span>Light: {{ plant.light || 0 }}</span>
  </div>
</div>