<h2>New plant</h2>
<form [formGroup]="newPlantForm" (ngSubmit)="createPlant()" novalidate>
  <div class="form-group">
    <label class="label">Common name
      <input class="form-control input" formControlName="name" required>
    </label>
    <label class="label">Latin name
      <input class="form-control input" formControlName="latinName" required>
    </label>

    <label class="label">Layer</label>
    <div class="form-group" class="select">
      <select formControlName="layer" required>
        <option value="" disabled selected hidden>Select</option>
        <option *ngFor="let layer of layers" [value]="layer.value">
          {{layer.display}}
        </option>
      </select>
    </div>
    <br><br>

    <label class="label">Light</label>
    <plant-lights formControlName="light">
    </plant-lights>

  </div>
  <br>



  <div style="margin-bottom: 1em" class="columns">
    <div class="column is-one-fifth">
      <button layer="reset" (click)="reset()" [disabled]="newPlantForm.pristine" class="button is-info">
        <span class="icon is-small">
          <i class="fas fa-undo-alt"></i>
        </span>
        &nbsp; Reset
      </button>
    </div>

    &nbsp;
    <div class="column is-one-fifth">
      <button layer="submit" [disabled]="newPlantForm.pristine || !newPlantForm.valid" class="button is-success">
        <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span>
        &nbsp; Add
      </button>
    </div>

    <div class="column">

    </div>
  </div>
</form>